#landing {
    padding: 15px 0px;
    max-width: 800px;
    margin: auto;
    display: grid;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    #landing {
        position: default;
        width: 100%;
        left: 0;
        margin-left: 0px;
    }
}

#landing-title {
    background-color: #e5e5e5;
    text-align: center;
    padding: 15px;
}

#name-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#name-form-submit {
    padding: 5px;
}

#avatar {
    display: flex;
    flex-direction: row;
}

.avatar-buttons-div {
    display: flex;
    flex-direction: column;
}

#avatar-img-div > * {
    position: relative;
    top: 0;
    left: 0
}

#avatar-img-background {
    width: 200px;
    height: 200px;
    top: -200px;
    left: 0;
}

.howtoplay-text {
    padding: 15px 0;
}