#choices {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#round-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #e5e5e5;
    padding: 10px;
}

#choices-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#results-div {
    display: none;
    background-color: #e5e5e5;
    padding: 10px;
    gap: 5px;
}

#results {
    gap: 5px;
}

#continue > button {
  width: 100%;
}