.score-message {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#new-game {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#topbox {
    background-color: #e5e5e5;
    padding: 10px;
}

#topbox-info {
    gap: 8px;
}

#gamebox {
    flex-wrap: wrap;
}

.gamebox-letter {
    opacity: 0;
    transition: opacity 0.5s;
    border: solid black 2px;
    width: 20%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
    box-sizing: border-box;
}

.gamebox-letter-visible {
    opacity: 1;
}

.selected-letter{
    border: green 2px solid;
    color: green;
    background-color: lightgreen;
}

.gamebox-letter:hover{
    cursor: pointer;
}