.score-message {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#new-game {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#topbox {
    background-color: #e5e5e5;
    padding: 10px;
}

#topbox-info {
    flex-direction: column;
    gap: 8px;
}

#topbox-wordrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topbox-word-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
    margin-right: 4px;
    overflow-x: auto;
    height: 36px;
}

#topbox-word {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-x: auto;
    margin-left: 4px;
}

.topbox-letter {
    border: solid black 1px;
    border-radius: 4px;
    width: 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.1s;
}

.topbox-letter:hover {
    background-color: gainsboro;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: dimgray;
}

.icon-button:hover {
    color: black;
}

#topbox-backspace-button {
    transform: translateY(-2px);
    padding-left: 2px;
    padding-right: 2px;
}

#topbox-clear-button {
    padding-right: 4px;
}

#topbox-add-letter-button {
    width: 100%;
}

#gamebox {
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 1%;
}

.gamebox-letter {
    opacity: 0.1;
    transition: opacity 0.5s, border 0.2s, color 0.2s, background-color 0.2s;
    border: solid black 2px;
    width: 19.2%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-sizing: border-box;
}

.gamebox-letter-visible {
    opacity: 1;
    cursor: pointer;
}

.gamebox-letter-visible:hover {
    background-color: gainsboro;
}

.selected-letter{
    border: green 2px solid;
    color: green;
    background-color: lightgreen;
}